[commons]

# Central store etcd port
etcd_port = 2379

# Central store etcd host/ip
etcd_connection = 0.0.0.0

# Path to log file
log_level = DEBUG
log_cfg_path = /etc/tendrl/commons_logging.yaml

# Path for tendrl-utility execution using ansible modules.
# Tendrl uses ansible modules for some tasks like service-management,
# package installation etc. Ansible provides executable scripts for this,
# these scripts will be run from the path below.
tendrl_exe_file_prefix = $HOME/.tendrl/util_runner_
